.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#ElevatorContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./wood.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 30px;
}

#title,
#titleMobile {
  margin: 0.5em 0px 0.5em 0px;
  letter-spacing: 3px;
  font-size: 1.3em;
  font-family: 'Atomic Age', cursive;
  letter-spacing: 0.15em;
}

#titleMobile {
  display: none;
}

#buttonsDiv {
  position: relative;
  width: 26.66em;
  height: 33.33em;
  padding: 0em 0.33em;
  background: linear-gradient(
    87deg,
    #575853,
    #797977,
    #969591,
    #797977,
    #4c4d49
  );
  border-radius: 1.66em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px -2px 10px rgba(255, 255, 255, 0.3),
    0px 2px 10px 3px rgba(0, 0, 0, 0.7);
  font-size: 1em;
  align-content: center;
}

.button {
  width: 3.35em;
  height: 3.35em;
  margin: 0.33em 0.33em;
  border-radius: 50%;
  font-size: inherit;
  font-weight: bold;
  background: linear-gradient(90deg, #626262, #434343);
  color: #9da1a4;
  border: none;
  cursor: pointer;
  box-shadow: 0px -1px rgba(255, 255, 255, 0.3),
    0px -2px 5px rgba(255, 255, 255, 0.5), 0px 2px 5px 1px rgba(0, 0, 0, 0.8),
    inset 0px 2px 10px 5px rgba(0, 0, 0, 0.8),
    inset 0px -2px 10px 3px rgba(255, 255, 255, 0.8);
  outline: none;
}

.button:active {
  box-shadow: 0px -1px rgba(255, 255, 255, 0.2),
    0px -2px 5px 1px rgba(255, 255, 255, 0.3),
    0px 2px 5px 1px rgba(0, 0, 0, 0.6),
    inset 0px 2px 10px 5px rgba(0, 0, 0, 0.81),
    inset 0px -2px 10px 3px rgba(255, 255, 255, 0.6);
}

.on {
  color: #fffe07;
  text-shadow: 0px 0px 5px #fffe07, 0px 0px 20px #fffe07;
}

.screw {
  position: absolute;
  width: 0.66em;
  height: 0.66em;
  background: linear-gradient(90deg, #b3b2ad, #525250);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -1px rgba(255, 255, 255, 0.3),
    0px -2px 5px rgba(255, 255, 255, 0.5), 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.x {
  color: #453f37;
  text-shadow: 0px 0px 1px #453f3778;
  font-weight: bold;
  line-height: 10px;
  font-size: 0.65em;
}

.screwTopLeft {
  top: 0;
  left: 0;
  transform: translate(0.83em, 0.83em);
}

.xTopLeft {
  transform: rotate(27deg);
}

.screwTopRight {
  top: 0;
  right: 0;
  transform: translate(-0.83em, 0.83em);
}

.xTopRight {
  transform: rotate(10deg);
}

.screwBottomLeft {
  bottom: 0;
  left: 0;
  transform: translate(0.83em, -0.83em);
}

.xBottomLeft {
  transform: rotate(-20deg);
}

.screwBottomRight {
  bottom: 0;
  right: 0;
  transform: translate(-0.83em, -0.83em);
}

.xBottomRight {
  transform: rotate(-7deg);
}

#scoreWindow {
  position: absolute;
  width: 5em;
  height: 4em;
  transform: translate(-2em, 2em);
  background: linear-gradient(
    87deg,
    #575853,
    #797977,
    #969591,
    #797977,
    #4c4d49
  );
  border: 0.2em solid rgb(135, 85, 85);
  top: 0;
  right: 0;
  border-radius: 50% 50% 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#scoreWindowMobile {
  position: relative;
  width: 5em;
  height: 4em;
  background: linear-gradient(
    87deg,
    #575853,
    #797977,
    #969591,
    #797977,
    #4c4d49
  );
  border: 0.2em solid rgb(135, 85, 85);
  border-radius: 50% 50% 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#needle {
  height: 3em;
  width: 0.1em;
  background-color: red;
  transform-origin: bottom;
  border-radius: 100% 100% 40% 40%;
  margin: 0em 0em 0.25em 0em;
  z-index: 5;
}

#scoreCount {
  z-index: 1;
  position: absolute;
  font-size: 1.6em;
  margin: 0px;
  transform: translate(0%, -50%);
  color: #fffe07;
  text-shadow: 0px 0px 5px #fffe07, 0px 0px 20px #fffe07;
}

#puck {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: black;
}

#upButton {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-2.95em, 36.25em);
  border-radius: 50%;
  overflow: hidden;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  width: 3.35em;
  height: 3.35em;
  border: 0.25em solid rgb(16, 16, 16);
  cursor: pointer;
  box-shadow: 0px -1px rgba(255, 255, 255, 0.1),
    0px -2px 4px rgba(255, 255, 255, 0.3), 0px 2px 5px 1px rgba(0, 0, 0, 0.8),
    inset 0px 2px 10px 5px rgba(0, 0, 0, 0.8),
    inset 0px -2px 10px 3px rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

#upButtonMobile {
  border-radius: 50%;
  overflow: hidden;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  width: 3.35em;
  height: 3.35em;
  border: 0.25em solid rgb(16, 16, 16);
  cursor: pointer;
  box-shadow: 0px -1px rgba(255, 255, 255, 0.1),
    0px -2px 4px rgba(255, 255, 255, 0.3), 0px 2px 5px 1px rgba(0, 0, 0, 0.8),
    inset 0px 2px 10px 5px rgba(0, 0, 0, 0.8),
    inset 0px -2px 10px 3px rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

#upButton:active,
#upButtonMobile:active {
  box-shadow: 0px -1px rgba(255, 255, 255, 0.1),
    0px -2px 4px rgba(255, 255, 255, 0.3), 0px 2px 6px 1px rgba(0, 0, 0, 0.8),
    inset 0px 2px 10px 6px rgba(0, 0, 0, 0.8),
    inset 0px -2px 10px 3px rgba(255, 255, 255, 0.8);
}

.upButtonOff {
  background: linear-gradient(90deg, #e5e8ec, #e4e5e7, #e9eaec);
}

.upButtonOn {
  background: linear-gradient(0deg, #fcab7e, #fceb93);
}

#loadingBar {
  width: 0.5em;
  height: 25em;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 0;
  transform: translate(-4.4em, 9em);
  border-radius: 15px;
  overflow: hidden;
}

#loadingBarMobile {
  width: 0.5em;
  height: 25em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  overflow: hidden;
  transform: rotate(90deg);
}

@keyframes loadingColor {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorUp {
  0% {
    transform: translate(0%, 100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.loadingAnimation {
  animation: colorUp 30s linear 0s 1 normal forwards,
    loadingColor 0.75s linear 0s 40 alternate-reverse;
}

#loadingColor {
  width: 0.5em;
  height: 25em;
  background-color: #2d9d2f;
  position: absolute;
  right: 0;
  transform: translate(0%, 100%);
  border-radius: 15px;
}

#loadingColorMobile {
  width: 0.5em;
  height: 25em;
  background-color: #2d9d2f;
  transform: translate(0%, 100%);
  border-radius: 15px;
}

@keyframes pointFlash {
  0% {
    opacity: 1;
    transform: translate(2.5em, 8em);
  }
  100% {
    opacity: 0;
    transform: translate(2.5em, 9em);
  }
}

.pointFlashPlus,
.pointFlashMinus {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2em;
  transform: translate(2.5em, 8em);
  animation: pointFlash 1s linear 0s 1 normal forwards;
}

.pointFlashPlus {
  color: #2d9d2f;
}

.pointFlashMinus {
  color: red;
}

@keyframes highscoreBlink {
  50% {
    background: linear-gradient(0deg, #fcab7e, #fceb93);
  }
}

.highScoreAnimation {
  animation: highscoreBlink 2s step-start 0s 3;
}

#highScore {
  font-size: 0.9em;
  color: black;
  font-weight: bold;
  background: linear-gradient(90deg, #e5e8ec, #e4e5e7, #e9eaec);
  padding: 0.5em 3em;
  letter-spacing: 0.1em;
  border-radius: 15px;
  border: 0.25em solid rgb(16, 16, 16);
  margin: 0em 0em 1em 0em;
  box-shadow: 0px -1px rgba(255, 255, 255, 0.1),
    0px -2px 4px rgba(255, 255, 255, 0.3), 0px 2px 5px 1px rgba(0, 0, 0, 0.8),
    inset 0px 2px 10px 5px rgba(0, 0, 0, 0.8),
    inset 0px -2px 10px 3px rgba(255, 255, 255, 0.8);
}

#mobileWindow {
  display: none;
}

@media (max-width: 1400px), (max-height: 1225px) {
  #ElevatorContainer {
    font-size: 24px;
  }
  .button {
    margin: 0.65em 0.33em;
  }
  #buttonsDiv {
    height: 36.66em;
  }
  #loadingBar,
  #loadingColor {
    height: 27.5em;
  }
  #upButton {
    transform: translate(-2.95em, 39.87em);
  }
}

@media (max-width: 1115px), (max-height: 1055px) {
  #ElevatorContainer {
    font-size: 19px;
  }
  .button {
    margin: 0.95em 0.33em;
  }
  #buttonsDiv {
    height: 40em;
  }
  #loadingBar,
  #loadingColor {
    height: 30.25em;
  }
  #upButton {
    transform: translate(-2.95em, 43.86em);
  }
}

@media (max-width: 875px), (max-height: 900px) {
  #mobileWindow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 26.66em;
    height: 5em;
    margin: 0em 0em 1em 0em;
  }
  .button {
    margin: 1.3em 0.33em;
  }
  #buttonsDiv {
    height: 44em;
  }
  #scoreWindow,
  #upButton,
  #loadingBar,
  #loadingBarColor,
  #title {
    display: none;
  }
  #titleMobile {
    display: block;
  }
  #highScore {
    margin: 1.5em 0em 0.5em 0em;
  }
  #loadingBarMobile,
  #loadingBarColorMobile {
    width: 0.5em;
    height: 14em;
  }
}

@media (max-width: 575px), (max-height: 900px) {
  #ElevatorContainer {
    font-size: 12px;
  }
  .button {
    margin: 1.65em 0.33em;
  }
  #buttonsDiv {
    height: 48.4em;
  }
}

@media (max-width: 370px), (max-height: 745px) {
  #ElevatorContainer {
    font-size: 10px;
  }
  .button {
    margin: 2em 0.33em;
  }
  #buttonsDiv {
    height: 53.24em;
  }
}

@media (max-width: 305px), (max-height: 665px) {
  #ElevatorContainer {
    font-size: 8px;
  }
  .button {
    margin: 2.4em 0.33em;
  }
  #buttonsDiv {
    height: 58.56em;
  }
}
